cupy
extensions
freetype_py
jedi
mapbox_earcut
matplotlib
numpy
opencv_python
opencv_python_headless
Pillow
plyfile
pydub
pyflakes
pygame
pyglm
PyOpenGL
PyOpenGL
pyperclip
PyQt6
pyqt6_sip
pyvista
Requests
scipy
setuptools
Shapely
stdlib_list
torch
trimesh
vispy
webcolors
