cupy
extensions
freetype_py
jedi
mapbox_earcut
matplotlib
numpy
opencv_python
Pillow
plyfile
pydub
pyflakes
pygame
pyglm
PyOpenGL
pyperclip
PyQt6
pyqt6_sip
pyvista
Requests
scipy
Shapely
stdlib_list
torch
trimesh
vispy
webcolors
