@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eesqn8');
  src:  url('fonts/icomoon.eot?eesqn8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eesqn8') format('truetype'),
    url('fonts/icomoon.woff?eesqn8') format('woff'),
    url('fonts/icomoon.svg?eesqn8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gizmo-qick:before {
  content: "\e985";
}
.icon-a-b:before {
  content: "\e900";
}
.icon-a-b-2:before {
  content: "\e901";
}
.icon-alert:before {
  content: "\e902";
}
.icon-angle:before {
  content: "\e903";
}
.icon-atom:before {
  content: "\e904";
}
.icon-atom1:before {
  content: "\e905";
}
.icon-atom2:before {
  content: "\e906";
}
.icon-axis-x:before {
  content: "\e907";
}
.icon-axis-y:before {
  content: "\e908";
}
.icon-axis-z:before {
  content: "\e909";
}
.icon-background:before {
  content: "\e90a";
}
.icon-brain:before {
  content: "\e90b";
}
.icon-brain-circuit:before {
  content: "\e90c";
}
.icon-bubble:before {
  content: "\e90d";
}
.icon-bug:before {
  content: "\e90e";
}
.icon-bug-off:before {
  content: "\e90f";
}
.icon-camera:before {
  content: "\e910";
}
.icon-clipboard-copy:before {
  content: "\e911";
}
.icon-clipboard-cut:before {
  content: "\e912";
}
.icon-clipboard-paste:before {
  content: "\e913";
}
.icon-close-radial:before {
  content: "\e914";
}
.icon-cluster:before {
  content: "\e915";
}
.icon-detail-mid:before {
  content: "\e916";
}
.icon-diameter:before {
  content: "\e917";
}
.icon-download:before {
  content: "\e918";
}
.icon-extension:before {
  content: "\e919";
}
.icon-eye:before {
  content: "\e91a";
}
.icon-eye-closed:before {
  content: "\e91b";
}
.icon-eye-down:before {
  content: "\e91c";
}
.icon-eye-minus:before {
  content: "\e91d";
}
.icon-eye-off:before {
  content: "\e91e";
}
.icon-eye-plus:before {
  content: "\e91f";
}
.icon-eye-up:before {
  content: "\e920";
}
.icon-file-3d:before {
  content: "\e921";
}
.icon-file-check:before {
  content: "\e922";
}
.icon-file-download:before {
  content: "\e923";
}
.icon-file-import:before {
  content: "\e924";
}
.icon-files:before {
  content: "\e925";
}
.icon-file-stack:before {
  content: "\e926";
}
.icon-file-txt:before {
  content: "\e927";
}
.icon-fly:before {
  content: "\e928";
}
.icon-folder:before {
  content: "\e929";
}
.icon-folder-open:before {
  content: "\e92a";
}
.icon-folders:before {
  content: "\e92b";
}
.icon-gizmo-axis-3d:before {
  content: "\e92c";
}
.icon-gizmo-drag:before {
  content: "\e92d";
}
.icon-gizmo-move:before {
  content: "\e92e";
}
.icon-gizmo-move-3d:before {
  content: "\e92f";
}
.icon-gizmo-rotate:before {
  content: "\e930";
}
.icon-gizmo-rotate-3d:before {
  content: "\e931";
}
.icon-gizmo-scale:before {
  content: "\e932";
}
.icon-gizmo-scale-3d:before {
  content: "\e933";
}
.icon-gizmo-scaling:before {
  content: "\e934";
}
.icon-globe:before {
  content: "\e935";
}
.icon-grid:before {
  content: "\e936";
}
.icon-grid-dots:before {
  content: "\e937";
}
.icon-grid-points:before {
  content: "\e938";
}
.icon-hand:before {
  content: "\e939";
}
.icon-hand-grab:before {
  content: "\e93a";
}
.icon-home:before {
  content: "\e93b";
}
.icon-ikosaedr:before {
  content: "\e93c";
}
.icon-image:before {
  content: "\e93d";
}
.icon-layout:before {
  content: "\e93e";
}
.icon-link:before {
  content: "\e93f";
}
.icon-list:before {
  content: "\e940";
}
.icon-lock:before {
  content: "\e941";
}
.icon-lock-open:before {
  content: "\e942";
}
.icon-lod1:before {
  content: "\e943";
}
.icon-lod2:before {
  content: "\e944";
}
.icon-lod3:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e946";
}
.icon-msg:before {
  content: "\e947";
}
.icon-msg-open:before {
  content: "\e948";
}
.icon-msg-txt:before {
  content: "\e949";
}
.icon-obj-bbox:before {
  content: "\e94a";
}
.icon-obj-bbox-off:before {
  content: "\e94b";
}
.icon-obj-box:before {
  content: "\e94c";
}
.icon-obj-cone:before {
  content: "\e94d";
}
.icon-obj-cylinder:before {
  content: "\e94e";
}
.icon-obj-hexagon-3d:before {
  content: "\e94f";
}
.icon-obj-hexagons:before {
  content: "\e950";
}
.icon-obj-objs:before {
  content: "\e951";
}
.icon-obj-plane:before {
  content: "\e952";
}
.icon-obj-pyramid:before {
  content: "\e953";
}
.icon-obj-sphere:before {
  content: "\e954";
}
.icon-obj-torus:before {
  content: "\e955";
}
.icon-orbit:before {
  content: "\e956";
}
.icon-origami:before {
  content: "\e957";
}
.icon-pencil-ruler:before {
  content: "\e958";
}
.icon-photo:before {
  content: "\e959";
}
.icon-photo-off:before {
  content: "\e95a";
}
.icon-pin:before {
  content: "\e95b";
}
.icon-player-pause:before {
  content: "\e95c";
}
.icon-player-play:before {
  content: "\e95d";
}
.icon-player-record:before {
  content: "\e95e";
}
.icon-player-skip-back:before {
  content: "\e95f";
}
.icon-player-skip-forward:before {
  content: "\e960";
}
.icon-player-stop:before {
  content: "\e961";
}
.icon-player-track-next:before {
  content: "\e962";
}
.icon-player-track-prev:before {
  content: "\e963";
}
.icon-plug:before {
  content: "\e964";
}
.icon-plug-in:before {
  content: "\e965";
}
.icon-plug-zap:before {
  content: "\e966";
}
.icon-power:before {
  content: "\e967";
}
.icon-radius:before {
  content: "\e968";
}
.icon-random:before {
  content: "\e969";
}
.icon-render:before {
  content: "\e96a";
}
.icon-save:before {
  content: "\e96b";
}
.icon-save-all:before {
  content: "\e96c";
}
.icon-save-off:before {
  content: "\e96d";
}
.icon-settings:before {
  content: "\e96e";
}
.icon-settings2:before {
  content: "\e96f";
}
.icon-shader-ball:before {
  content: "\e970";
}
.icon-shapes:before {
  content: "\e971";
}
.icon-Size:before {
  content: "\e972";
}
.icon-speed-down:before {
  content: "\e973";
}
.icon-speed-rocket:before {
  content: "\e974";
}
.icon-speed-snail:before {
  content: "\e975";
}
.icon-speed-turtle:before {
  content: "\e976";
}
.icon-speed-up:before {
  content: "\e977";
}
.icon-steos-up:before {
  content: "\e978";
}
.icon-steps:before {
  content: "\e979";
}
.icon-steps-down:before {
  content: "\e97a";
}
.icon-text-input:before {
  content: "\e97b";
}
.icon-toggle-left:before {
  content: "\e97c";
}
.icon-toggle-right:before {
  content: "\e97d";
}
.icon-trash:before {
  content: "\e97e";
}
.icon-trash-x:before {
  content: "\e97f";
}
.icon-window-expand:before {
  content: "\e980";
}
.icon-window-fullscreen:before {
  content: "\e981";
}
.icon-window-minimize:before {
  content: "\e982";
}
.icon-zoom-in:before {
  content: "\e983";
}
.icon-zoom-out:before {
  content: "\e984";
}
